<!--<app-currentweather></app-currentweather>-->
<!--<app-classroom></app-classroom>-->
<!--<app-classroom></app-classroom>-->
<!--<class-ls *ngFor="let i of StdRCLR" [data]="i"></class-ls>-->
<!--<class-ls *ngFor="let i of CLassroom" [dulieu]="i"></class-ls>-->



<!--<div class="container-lg">-->
<!--<fr-wt class="row"></fr-wt>-->
<!--</div>-->


<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We">-->

<!--<router-outlet></router-outlet>-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<section class="section">
  <div class="row">
    <div class="col-3 cnt-left p-5">
      <div>
        <h1>Favorites</h1>
        <ul>
          <li *ngFor="let i of favoritesList;let j=index"><a routerLink="favorites{{j}}">{{i}}</a></li>
        </ul>
      </div>
      <div>
        <h1>John</h1>
        <ul>
          <li *ngFor="let i of JohnList;let j=index"><a routerLink="john{{j}}">{{i}}</a></li>
        </ul>
      </div>
    </div>
    <div class="col cnt-right" style="padding-left: 0;">
      <router-outlet></router-outlet>

    </div>
  </div>
</section>
</body>

</html>
